.input-style{
    background-color: #14212A;
    border-top: none;
    border-right: none;
   
}
.footer-link a{
    text-decoration: none;
    color: white;
}
.footer-link img{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.footer-div{
    width: 50%;
    height: 1px;
    background-color:rgb(65, 58, 58);
}